<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	<insert id="insertMember" parameterType="member">
		insert into p_member values(#{p_id}, #{password}, #{p_name}, #{gender}, #{phone}, null, #{final_edu}, #{school}, #{major}, default, default)
	</insert>
	
	<select id="selectOne" resultType="member">
		select * from p_member where p_id=#{p_id}
	</select>	

	<!-- <select id="kakaoLogin" resultType="userInfo" parameterType="hashmap">
		select * from p_member where is_sns=#{id}
	</select> -->
	
	<select id="findId" resultType="member" parameterType="member">
		select * from p_member where phone=#{phone} and p_name=#{p_name}
	</select>
	
	<delete id="deleteMember" parameterType="member">
		delete from p_member where p_id=#{p_id}
	</delete>
	
	<update id="updateMember" parameterType="member">
		update p_member set p_name=#{p_name}, phone=#{phone}, final_edu=#{final_edu}, school=#{school}, major=#{major} where p_id=#{p_id}
	</update>
	
	<update id="updatePw" parameterType="member">
		update p_member set password=#{password} where p_id=#{p_id}
	</update>	
</mapper>
