<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Review">


	<!-- <select id="selectAllResume" parameterType="Resume">
		SELECT * FROM 
	</select> -->
	

	<select id="selectOneCompany" parameterType="cmember" resultMap="companyResult">
		SELECT * FROM COMPANY WHERE COMPANY_NO = #{cId}
	</select>
	
	<resultMap type="company" id="companyResult">
		<id property="companyNo" column="company_no"/>
		<result property="companyUpdate" column="company_update"/>
		<result property="companyName" column="company_name"/>
		<result property="companyZipcode" column="company_zipcode"/>
		<result property="companyAddressOld" column="company_address_old"/>
		<result property="companyAddressNew" column="company_address_new"/>
		<result property="companyStatus" column="company_status"/>
		<result property="companyCode" column="company_code"/>
		<result property="companyCate" column="company_cate"/>
		<result property="companyRegDate" column="company_regdate"/>
		<result property="companyAllPeople" column="company_all_people"/>
		<result property="companyPrice" column="company_price"/>
		<result property="companyNewPeople" column="company_new_people"/>
		<result property="companyOutPeople" column="company_out_people"/>
		<result property="reviewCount" column="review_count"/>
		<result property="totalScore" column="total_score"/>
	</resultMap>
	
</mapper>
