<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>
	<typeAliases>
		<typeAlias type="com.connect.job.model.vo.Member" alias="member"/>
		<typeAlias type="com.connect.job.model.vo.CMember" alias="cmember"/>
		<typeAlias type="com.connect.job.model.vo.Company" alias="company"/>
		<typeAlias type="com.connect.job.model.vo.SearchKeyword" alias="searchkeyword"/>
		<typeAlias type="com.connect.job.model.vo.CompanyReview" alias="review"/>
		<typeAlias type="com.connect.job.model.vo.CompanyReviewLike" alias="reviewlike"/>
		<typeAlias type="com.connect.job.model.vo.CompanyAvgScore" alias="score"/>
		<typeAlias type="com.connect.job.model.vo.Senier" alias="senier"/>
		<typeAlias type="com.connect.job.model.vo.Resume" alias="resume"/>
		<typeAlias type="com.connect.job.model.vo.FinalEdu" alias="finalEdu"/>
		<typeAlias type="com.connect.job.model.vo.FinalEduUniv" alias="finalEduUniv"/>
		<typeAlias type="com.connect.job.model.vo.Career" alias="career"/>
		<typeAlias type="com.connect.job.model.vo.HireNoti" alias="hireNoti"/>
		<typeAlias type="com.connect.job.model.vo.Scomment" alias="scomment"/>
		<typeAlias type="com.connect.job.model.vo.Inquiry" alias="inquiry"/>
		<typeAlias type="com.connect.job.model.vo.Notice" alias="notice"/>
		<typeAlias type="com.connect.job.model.vo.Message" alias="message"/>
		<typeAlias type="com.connect.job.common.StringArrTypeHandler" alias="strArr"/>
		<typeAlias type="com.connect.job.model.vo.ProfileImg" alias="profileImg"/>
		<typeAlias type="com.connect.job.model.vo.Scrap" alias="scrap"/>
	</typeAliases>
	 
</configuration>

