<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="HireNoti">
	
	<insert id="insertNoti" parameterType="hireNoti">
		INSERT INTO HIRENOTI VALUES(HN_SEQ.NEXTVAL,#{HNSort},#{HNCareer},#{HNForm},#{HNRecruit},#{HNCate},#{HNChargeTask},#{HNDept},#{HNRankPosition},#{HNFinalEdu},#{HNMajor},#{HNPreference},#{HNFor},#{HNGender},#{HNBirth},#{HNSal},#{HNWorkPlace},#{HNDay},#{HNStime},#{HNDtime},#{startDate},#{endDate},#{HNEve},#{HNReMethod}#{HNRequired},#{HNOri},#{HNRe},#{HNProcess},#{HNDoc},#{HNInterview},#{HNName},#{HNPhone},#{HNCelPhone},#{HNEMail},#{HNFax},#{HNTitle},#{HNCount},sysdate)
	</insert>
</mapper>
