<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="helpAdmin">
	
	<resultMap type="inquiry" id="inquiryResult">
		<id property="iNo" column="i_no"/>
		<result property="iType" column="i_type"/>
		<result property="iTitle" column="i_title"/>
		<result property="iContent" column="i_content"/>
		<result property="iDate" column="i_date"/>
		<result property="status" column="status"/>
		<result property="iWriter" column="i_writer"/>
		<result property="aContent" column="a_content"/>
	</resultMap>

	<resultMap type="faq" id="faqResult">
		<id property="fNo" column="f_no"/>
		<result property="fTitle" column="f_title"/>
		<result property="fContent" column="f_content"/>
		<result property="status" column="status"/>
	</resultMap>


	<select id="helpPageInquiryList" resultMap="inquiryResult">
		select * from inquiry order by i_date desc
	</select>
	
	<select id="selectCount" resultType="_int"> 
		select count(*) from inquiry 
	</select>
	
	<select id="helpPageInquiryView" parameterType="_int" resultMap="inquiryResult">
		select * from inquiry where i_no=#{no}
	</select>
	
	<update id="helpInquiryUpdate" parameterType="inquiry">
		update inquiry set a_content=#{aContent}, status=#{status} where i_no=#{iNo}
	</update>
	
	<select id="faq" resultMap="faqResult">
		select * from faq order by f_no desc
	</select>
	
	<select id="selectFaqCount" resultType="_int">
		select count(*) from faq
	</select>
	
	<select id="faqView" parameterType="_int" resultMap="faqResult">
		select * from faq where f_no=#{no}
	</select>
	
	<update id="faqUpdate" parameterType="faq">
		update faq set f_content=#{fContent}, f_title=#{fTitle} where f_no=#{fNo}
	</update>
	
	<delete id="faqDelete" parameterType="faq">
		delete from faq where f_no=#{fNo}
	</delete>
	
	<resultMap type="member" id="memberResult">
		<id column="p_id" property="p_id"/>
		<result column="password" property="password"/>
		<result column="p_name" property="p_name"/>
		<result column="gender" property="gender"/>
		<result column="phone" property="phone"/>
		<result column="is_sns" property="is_sns"/>
		<result column="enroll_date" property="enroll_date"/>
		<result column="email_confirm" property="email_confirm"/>
		<result column="kakao_id" property="kakao_id"/>
		<result column="google_id" property="google_id"/>
		<result column="naver_id" property="naver_id"/>
		<result column="nickname" property="nickname"/>
		<result column="alarm_status" property="alarmStatus"/>
	</resultMap>
	
	<!-- 회원관리 -->
	<select id="memberList" resultMap="memberResult">
		SELECT * FROM P_MEMBER order by p_id
	</select>
	
	<select id="memberCount" resultType="_int">
		select count(*) from p_member
	</select>
	
	<select id="searchMemberCount" resultType="_int" parameterType="map">	
		select count(*) from p_member where ${searchType} like '%' || #{searchKey} || '%'
	</select>
	
	<select id="searchMemberList" resultMap="memberResult" parameterType="map">
		select * from p_member where ${searchType} like '%' || #{searchKey} || '%'
	</select>
	
	<delete id="deleteMember" parameterType="String">
		delete from p_member where p_id = #{p_id}
	</delete>
	
	<!-- 공지사항 관리 -->
	<select id="noticeList" resultType="notice">
		select * from notice order by notice_date desc
	</select>
	
	<select id="noticeCount" resultType="_int">
		select count(*) from notice 
	</select>
	
	<select id="searchNoticeCount" resultType="_int" parameterType="map">
		select count(*) from notice where ${searchType} like '%' || #{searchKey} || '%'
	</select>
	
	<select id="searchNoticeList" resultType="notice" parameterType="map">	
		select * from notice where ${searchType} like '%' || #{searchKey} || '%'
	</select>
	
	<delete id="deleteNotice" parameterType="_int">
		delete from notice where notice_no=#{notice_no}
	</delete>
	
	<select id="selectNoticeOne" resultType="notice" parameterType="_int">
		select * from notice where notice_no=#{notice_no}
	</select>
	
	<update id="updateNotice" parameterType="notice">
		update notice set title=#{title}, content=#{content} where notice_no=#{notice_no}
	</update>
	
</mapper>
